
        
body{
    background-color: gray;
    padding: 100px 45px 12px 100px;
}
.card{
    background-color: white;
    width: 180px;
    height: 330px;
    border-radius: 5px;
    padding: 5px;
}

.image img{
    border-radius: 5px;
}
.capsules span{
    color: gray;
    border: 1px solid gray;
border-radius: 9px;
padding: 4px;
font-size: 10px;
font-family: "Poppins", sans-serif;
font-weight: 180;
font-style: normal;
}
.capsules{
    padding: 0 50px;
}
.content p{
    font-size: 10px;
    color: gray;
    position: relative;
    bottom: 12px;
    font-family: "Nunito Sans", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

.button{

    color: aqua;
    text-align: center;
    

}
.button button{
    padding: 6px;
    background-color: skyblue;
    border-radius: 10px;
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    font-weight: bold;
    border: 2px;
}
.button :hover{
    color: rgb(17, 99, 222);
    padding: 2px;
}


